<div>
  <div style="background-image: url(<%= @list.image_url %>)" class="container-background">
    <div class="banner-align">
      <h4 class="color-white"><b><%= @list.name %></b></h4>
    </div>
  </div>
</div>

<div>

</div>
