<div class="container">
  <div class="container mt-4">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
